---
import Layout from "@/layouts/Layout.astro";

import mainConfig from "@/config/main";
import pageConfig from "@/config/pages/products";

import { Button } from "@/components/ui/button";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import StandardFullbleed from "@/layouts/StandardFullbleed.astro";
import SectionPadding from "@/components/section/SectionPadding.astro";
---

<StandardFullbleed>
  <section class:list={["col-[content]", "flex flex-col"]}>
    <SectionPadding />
    <h1 class:list={["text-4xl", "font-bold", "text-center"]}>
      Liquid Lubricants
    </h1>
    <SectionPadding />
    <div class:list={["grid", "lg:grid-cols-2", "gap-4"]}>
      {
        pageConfig.products.liquidLubricants.map((product) => (
          <Card>
            <CardHeader>
              <CardTitle>{product.title}</CardTitle>
              <CardDescription>{product.shortDescription}</CardDescription>
            </CardHeader>
            <CardContent>
              <p>{product.mediumDescription}</p>
            </CardContent>
            <CardFooter>
              <Button variant="outline">Learn More</Button>
            </CardFooter>
          </Card>
        ))
      }
    </div>
  </section>
  <section class:list={["col-[content]", "flex flex-col"]}>
    <SectionPadding />
    <h1 class:list={["text-4xl", "font-bold", "text-center"]}>Greases</h1>
    <SectionPadding />
    <div class:list={["grid", "lg:grid-cols-2", "gap-4"]}>
      {
        pageConfig.products.greases.map((product) => (
          <Card>
            <CardHeader>
              <CardTitle>{product.title}</CardTitle>
              <CardDescription>{product.shortDescription}</CardDescription>
            </CardHeader>
            <CardContent>
              <p>{product.mediumDescription}</p>
            </CardContent>
            <CardFooter>
              <Button variant="outline">Learn More</Button>
            </CardFooter>
          </Card>
        ))
      }
    </div>
  </section>
</StandardFullbleed>
